* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;

}

body {}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    width: 30%;
    height: 30%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.bloc_titre {
    height: 10%;
    background-color: rgb(202, 202, 202);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre {
    text-transform: uppercase;
    font-weight: bold;
}

.bloc_lien {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    font-size: 2rem;
    margin-left: 5%;
    list-style: none;
    text-decoration: none;
    color: black;
}

a:hover {
    color: orange;
    font-weight: bold;
}